.hero {
  display: flex;
  width: 100%;
  min-width: 330px;
  height: 10vh;
  min-height: 50px;
  background-color: $ui-background-color;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 40vh;
    min-height: 400px;
  }
}
