.search-bar {
  display: flex;
  height: 41px;
  background-color: #fff;
  align-items: center;
  width: 95%;
  min-width: 330px;
  border-radius: 2em;
  margin: 0 auto;
  justify-content: flex-end;
  border: 1px solid $primary-button-color;

  &__fields {
    width: 75%;
    padding-left: 2.5%;
  }

  &__input {
    height: 25px;
    width: 50%;
    border: none;
    padding: 1em;

    &--business {
      border-right: 1px solid $primary-button-color;
    }
  }

  &__submit {
    height: 100%;
    width: 25%;
    background-color: $primary-button-color;
    border: none;
    border-radius: 0 2em 2em 0;
  }
}

@media only screen and (min-width: 768px) {
  .search-bar {
    width: 60%;
  }
}
